[Unit]
Description=LF StackMasquerading Spoof Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/lf-stackmask.sh start
ExecStop=/usr/local/bin/lf-stackmask.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
